:root {
    --color-foreground: #f0f0f0;
    --color-background: #161616;
    --color-background-darker: #0c0c0c;
    --color-background-slightly-lighter: #1e1e1e;
    --color-background-lighter: #232323;
    --color-primary: #9862fd;
    --color-accent: #9179f0;
    --color-secondary: #9380ff;
    --color-tertiary: #a685ff;
    --color-quaternary: #cfbffc;
    --color-quaternary-darker: #c0acfb;
    --color-warning: #ffb86c;
    --color-danger: #ff6b6b;
    --color-information: #9862fd;
    --color-success: #a3d65c;
}

@media print {
    :root {
        --color-foreground: unset;
        --color-background: unset;
        --color-background-darker: unset;
        --color-background-slightly-lighter: unset;
        --color-background-lighter: unset;

        --color-primary: unset;
        --color-accent: unset;
        --color-secondary: unset;
        --color-tertiary: unset;
        --color-quaternary: unset;
        --color-quaternary-darker: unset;

        --color-warning: unset;
        --color-danger: unset;
        --color-information: unset;
        --color-success: unset;
    }
}