.markdown-dynamic-content {

    a:link,
    a:visited {
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        color: var(--color-primary);
        filter: brightness(1);

        &:hover {
            color: var(--color-tertiary);
        }
    }

    table {
        border-collapse: collapse;
        text-align: center;
    }

    td,
    th {
        padding: 13px;
        border: 1px solid #413d44;
    }

    tr:nth-child(even),
    th {
        background-color: var(--color-background-slightly-lighter);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
        color: var(--color-tertiary);
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    blockquote {
        border-left: 1px solid var(--color-primary);
        padding-left: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin: 20px 0;
        color: var(--color-primary);

        a:link,
        a:visited {
            color: var(--color-secondary);

            &:hover {
                color: var(--color-tertiary);
            }
        }
    }

    p {
        line-height: 1.5;
    }

    pre>code {
        border-radius: 15px;
        padding: 1.5em !important;
    }

    :not(pre)>code {
        background-color: rgb(0 0 0 / 0.2);
        padding: 0.2em 0.3em !important;
        border-radius: 5px;
    }

    .admonition {
        padding: 1.4em;
        margin: 1.4em 0;
        border-radius: 15px;

        &.adm-type-generic {
            background-color: var(--color-background-lighter);
        }

        &.adm-type-warning {
            background-color: var(--color-warning);
            color: var(--color-background-lighter);
        }

        &.adm-type-danger {
            background-color: var(--color-danger);
            color: var(--color-background-lighter);
        }

        &.adm-type-info {
            background-color: var(--color-information);
            color: var(--color-background-lighter);
        }

        &.adm-type-success {
            background-color: var(--color-success);
            color: var(--color-background-lighter);
        }

        .adm-heading {
            font-weight: 700;
            font-size: 1.2em;
            color: inherit;
        }

        h3,
        p {
            padding: 0;
            margin: 0;
        }

        p {
            margin-top: 0.5em;
        }
    }
}