@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/900.css";
@import "@fontsource/cascadia-code/400.css";

@import "highlight.js/styles/github-dark.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    scrollbar-color: #201a25 #28202f;
    scrollbar-width: thin;
    background-color: #201a25;
    color: #f0f0f0;
}

::selection {
    background: #d0a4fa;
    color: #201a25;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #28202f;
}
::-webkit-scrollbar-thumb {
    background: #201a25;
}

pre,
code {
    font-family: "Cascadia Code", monospace;
}

@import "./markdown";
